Datasets/Urbansound8K/audio/**
Datasets/Urbansound8K/metadata/**
Datasets/Urbansound8K/processed/fold1/**
Datasets/Urbansound8K/processed/fold2/**
Datasets/Urbansound8K/processed/fold3/**
Datasets/Urbansound8K/processed/fold4/**
Datasets/Urbansound8K/processed/fold5/**
Datasets/Urbansound8K/processed/fold6/**
Datasets/Urbansound8K/processed/fold7/**
Datasets/Urbansound8K/processed/fold8/**
Datasets/Urbansound8K/processed/fold9/**
Datasets/Urbansound8K/processed/fold10/**

Datasets/MTGJamendo/audio/**
Datasets/MTGJamendo/metadata/**
Datasets/MTGJamendo/processed/fold1/**
Datasets/MTGJamendo/processed/fold2/**
Datasets/MTGJamendo/processed/fold3/**
Datasets/MTGJamendo/processed/fold4/**
Datasets/MTGJamendo/processed/fold5/**
Datasets/MTGJamendo/processed/fold6/**
Datasets/MTGJamendo/processed/fold7/**
Datasets/MTGJamendo/processed/fold8/**
Datasets/MTGJamendo/processed/fold9/**
Datasets/MTGJamendo/processed/fold10/**